#section-dashboard{
    display: flex;
    width: 90%;
    height: 90vh;
    border-radius: 50px;
    background-color: white;
}
aside{
    height: 100%;
}
aside {
  width: 250px; 
  background-color: #26201F; 
  border-top-left-radius: 44px;
  border-bottom-left-radius: 44px;
  display: flex;
  flex-direction: column;
  
  padding: 20px;
  gap: 10px;
}


.list-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: transparent;
 
}
.list-group-item{
    background-color: transparent;
    color: white;
    border-color: transparent;
}
.list-group-item-action {
  background-color: #658781 !important;
  color: white !important;               
  border-color: #658781 !important;      
}

main{
    padding: 20px;
    width: 100%;
}
#inputs{
    display: flex;
    flex-direction: row;
    gap:20px;
     padding-left: 40px;
    padding-right: 200px;
    width: 100%;
        
}
.backbtn #boton-dsh {
  position: fixed; 
  bottom: 10%;
}

#boton-dsh .backbtn:hover{
  color: #658781  ;
}
