#contenedor {
    display: flex;
  flex-direction: row;
  gap: 30px;
  width: 1200px;
  padding: 0px;
  margin: 0px;
}

#inscripcion-section-1 {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 400px;
  padding-bottom: 150px;
  margin: 0 auto;
  flex-direction: column;
  max-height: 400;
}

#inscripcion-section-1 h1 {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 3px solid #007bff;
  padding-bottom: 15px;
}

#inscripcion-section-2 {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  flex-direction: column;
}

#inscripcion-section-2 h1 {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 3px solid #007bff;
  padding-bottom: 15px;
}
