#container {
    display: flex;
  flex-direction: row;
  gap: 30px;
  width: 1200px;
  padding: 0px;
  margin: 0px;
}

#formulario {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  flex-direction: column;
}

#tabla-container{
background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  flex-direction: column;
}